<section fxLayout="row" fxLayoutAlign="center center">

  <mat-accordion fxFlex="1 1 90%" fxFlex.gt-sm="1 1 50%">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Will work for my business?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>While it's true that social media is relatively new, there are many dental practises around the world using
        these methods to grow their client base.</p>
      <p>I'm simply taking what's done and tested and applying it to your business.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Why do your packages cost that much?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Because my services bring results.</p>
      <p>Ask yourself how much is a one loyal client worth to you over the next 5 years.</p>
      <p>Chances are, even one or two such clients would make your investment profitable. And I'm not not going to stop
        at one or two - I want your dental practise to thrive.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What are your qualifications?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Social media is so new and constantly changing that there are no schools that can teach it well.</p>
      <p>However, I have invested and continue to invest into courses by some of the world's best marketers and social
        media pioneers.</p>
      <p>On top of that I have a professional background in web development so nothing is too technical for me when it
        comes to online.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          "Augustinas" is an uncommon name. Where're you from?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I was born in Lithuania - a country in central Europe</p>
      <p>After coming here to study in Aberdeen University I moved to Glasgow to work as a web developer.</p>
      <p>Eager for a more results-driven career I now specialise in helping dentists grow their businesses via social
        media marketing.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          It's a monthly contract. What if I want to cancel?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Not a problem.</p>
      <p>You can cancel anytime with a 30-day notice.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What if I your marketing does not work?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>If you are not satisfied with results the Silver package comes with 100% money-back guarantee refund for my services.</p>
      <p>I only get paid if you get paid. Simple.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Still unsure?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Have a think.</p>
      <p>I currently offer a 100% money-back guarantee refund for my Silver package services in case you did not find
        them beneficial.</p>
      <p>I'm a single person agency and once I have a few good clients I will not take on new ones as not to compromise
        on the quality of service I provide.</p>
      <p>Also I will refuse the service if I'm already working with a nearby/competing dental practice.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>I'm interested. What's next?</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Great. Fill the form bellow and we will schedule a meeting or a call to discuss the next steps.</p>
      <p>You'll get a <b>free audit of your website and social media</b> as well as some tips on how to improve it.</p>
      <p>From there we will decide if we would like to do business together. Simple as that.</p>
    </mat-expansion-panel>
  </mat-accordion>

</section>
