section {
    height: 100vh;
}

.header {
    padding: 50px;
}

.header h1 {
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
}

.picture {
    background-image: url("src/assets/marketingSpecialist.jpg");
    background-position: left bottom;
    background-size: cover;
    height: calc(70vh - 87px);
}

.box {
    height: calc(70vh - 87px);
    padding: 10vw;
}