<section>
  <div class="header" fxLayout="column" fxLayoutAlign="center center">
    <div>
      <h1>More Clients</h1>
      <h1>More Revenue</h1>
      <h1>Happy Dentists</h1>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="1 1 100%" fxFlex.gt-sm="1 1 50%" class="picture"></div>
    <div fxFlex="1 1 100%" fxFlex.gt-sm="1 1 50%" class="primaryBg box" fxLayout="column" fxLayoutAlign="center center">
      <div>
        <h3>Hi, I'm Augustinas</h3>
        <h2>A specialist in helping dentists and dental practises <b>get more clients</b> using <strong>social media</strong></h2>
      </div>
    </div>
  </div>
</section>
