<section fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap.gt-sm="20px">

  <header fxFlex="1 1 100%" fxLayoutAlign="center center">
    <h2>Investment Packages</h2>
  </header>

  <mat-card fxFlex="1 1 90%" fxFlex.gt-sm="1 1 25%" class="primaryBg" fxLayout="column" fxLayoutAlign="start center">
    <mat-card-header>
      <mat-card-title>Silver</mat-card-title>
      <mat-card-subtitle>Social Media</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          Facebook
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          Instagram
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          Twitter
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          Social Media Management
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          Advertising Campaigns
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-footer>
      <h2 fxLayoutAlign="center center">£797/Month*</h2>
      <h3>+ £300 Recommended Ad Spend</h3>
      <h3>*Cancel Anytime With a 30-day Notice</h3>
      <h3>*100% Money-back Guarantee Refund for Services</h3>
    </mat-card-footer>
  </mat-card>

  <mat-card fxFlex="1 1 90%" fxFlex.gt-sm="1 1 25%" class="primaryBg" fxLayout="column" fxLayoutAlign="start center">
    <mat-card-header>
      <mat-card-title>Gold</mat-card-title>
      <mat-card-subtitle>Online Presence</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          <b>Silver Package</b>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          <b>New Handcrafted Website</b>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          Website Management
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          Google Analytics
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          Facebook Pixel
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          Email List
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-footer>
      <h2 fxLayoutAlign="center center">£1597/Month*</h2>
      <h3>+ £600 Recommended Ad Spend</h3>
      <h3>*Cancel Anytime With a 30-day Notice</h3>
    </mat-card-footer>
  </mat-card>

  <mat-card fxFlex="1 1 90%" fxFlex.gt-sm="1 1 25%" class="primaryBg" fxLayout="column" fxLayoutAlign="start center">
    <mat-card-header>
      <mat-card-title>Platinum</mat-card-title>
      <mat-card-subtitle>Brand Development</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          <b>Silver Package</b>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          <b>Gold Package</b>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          <b>Brand Strategy</b>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          Email Campaigns
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>done</mat-icon>
          Google Advertising
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-footer>
      <h2 fxLayoutAlign="center center">£3997/Month*</h2>
      <h3>+ £1500 Recommended Ad Spend</h3>
      <h3>*Cancel Anytime With a 30-day Notice</h3>
    </mat-card-footer>
  </mat-card>
</section>
