<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-list>
      <a mat-list-item routerLink="/home" (click)="sidenav.close()">Pricing</a>
      <a mat-list-item routerLink="/books" (click)="sidenav.close()">FAQ</a>
      <a mat-list-item routerLink="/method" (click)="sidenav.close()">Contact</a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-icon (click)="sidenav.open()" class="menuIcon" fxShow fxHide.gt-sm aria-label="Side nav toggle icon">menu</mat-icon>
      <span>Login Dental</span>
    </mat-toolbar>

    <app-hero></app-hero>

    <app-pricing></app-pricing> 
    
    <app-faq></app-faq>

    <!-- <app-contact></app-contact> -->

  </mat-sidenav-content>
</mat-sidenav-container>





<!-- <mat-sidenav-container>
  <mat-sidenav fxLayout="column" #drawer class="sidenav" fixedInViewport="true" [attr.role]="dialog" [mode]="'over'"
    [opened]="false">
    <mat-nav-list fxFlex fxLayout="column">
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/books">Books</a>
      <a mat-list-item routerLink="/method">Method</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutGap="15px">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        <p>fgsdfggs</p>
      </button>
      <span fxFlex>Divertimento Duets</span>
      <a fxFlex="1 1 70px" fxHide.xs="true" mat-button routerLink="/home">Home</a>
      <a fxFlex="1 1 70px" fxHide.xs="true" mat-button routerLink="/books">Books</a>
      <a fxFlex="1 1 70px" fxHide.xs="true" mat-button routerLink="/method">Method</a>
    </mat-toolbar>

    


    <footer class="dark" fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxLayout="column"
        fxLayoutGap="10px" fxLayoutAlign="center center">
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/books">Books</a>
        <a mat-button routerLink="/contact">Contact</a>
      </div>
      <div fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%">
      </div>
      <div fxFlex="1 1 100%" fxLayout="column">
        <span fxFlex fxLayoutAlign="center center" class="body-1">© 2018 Copyright: DivertimentoDuets.com</span>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container> -->
